volumes:
  smnrp-data:
services:
  ws:
    image: ethnexus/smnrp:2.6.2
    volumes:
      - web_root:/web_root
      - smnrp-data:/etc/letsencrypt
      - ./api/static:/vol/web/static:z
      - ./api/media:/vol/web/media:z
    ports:
      - "80:80"
      - "443:443"
    env_file: .env
    restart: unless-stopped
    depends_on:
      - api
  api:
    volumes:
       - /data/revseq/results/gather_results:/data
       - /data/revseq/results/results:/data/revseq/results/results
       - /data/revseq/metagenomics_integration_proof-of-concept/results/results:/data/revseq/metagenomics_integration_proof-of-concept/results/results
      #- ./data:/data
  ui:
    command: >
      bash -c "\
        yarn install
        rm -rf /app/dist/*
        yarn run build
        mv /app/dist/spa/* /app/dist/.
        rm -rf /app/dist/spa
      "
  ena:
    ports:
      - 5042:5000
    volumes:
      - /data/revseq/results/gather_results:/data
      # - /data/revseq/results/results:/data/revseq/results/results
      # - ./data:/data2
      # - ./data:/data
